@model IEnumerable<QL_TrungTam_X.Areas.QuanLy.Models.Classroom>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassroomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSVC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassroomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSVC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassroomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassroomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassroomID })
        </td>
    </tr>
}

</table>
